@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import "tailwindcss";

@theme{
  --font-inter: 'Inter', sans-serif;
  --font-nunito: 'Nunito', sans-serif;
  --font-jetbrains: 'JetBrains Mono', monospace;
}

@source "../views";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(98% 0 0);
    --color-base-300: oklch(95% 0 0);
    --color-base-content: oklch(21% 0.006 285.885);
    --color-primary: oklch(68% 0.169 237.323);
    --color-primary-content: oklch(93% 0.032 255.585);
    --color-secondary: oklch(74% 0.16 232.661);
    --color-secondary-content: oklch(39% 0.09 240.876);
    --color-accent: oklch(48% 0.243 264.376);
    --color-accent-content: oklch(88% 0.059 254.128);
    --color-neutral: oklch(0% 0 0);
    --color-neutral-content: oklch(92% 0.004 286.32);
    --color-info: oklch(62% 0.214 259.815);
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: oklch(72% 0.219 149.579);
    --color-success-content: oklch(37% 0.077 168.94);
    --color-warning: oklch(79% 0.184 86.047);
    --color-warning-content: oklch(41% 0.112 45.904);
    --color-error: oklch(63% 0.237 25.331);
    --color-error-content: oklch(27% 0.105 12.094);
    --radius-selector: 0.5rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1.5px;
    --depth: 1;
    --noise: 1;
  }
  